//
//  Debug.xcconfig
//  Melodic
//
//  Created by TMA on 26/2/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Melodic Debug
APP_ICON = AppIconDebug
APP_BUNDLE_ID = com.ntmduc.melodic
APP_VERSION = 1.0.0

BASE_URL = https:/$()/ws.audioscrobbler.com/2.0
LASTFM_API_KEY = "b18a006c20affa270e9e6ad8c83defab"
LASTFM_API_SHARED_SECRET = "0e695f3b4d7cdefec2d3a166863bf160"
